{% extends 'base.html.twig' %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci aliquam, aperiam autem consequuntur, distinctio dolor, dolore earum enim eos est fuga fugit harum illo incidunt laborum libero maiores modi molestias necessitatibus nesciunt nulla optio pariatur perferendis quae qui quidem recusandae reiciendis rem sapiente sint suscipit tempore ullam voluptate voluptatum?</p>
{% endblock %}

{% block title %}
    {{ parent() }} | about
{% endblock %}